// Import
@import "variables";
// Mixins
@mixin logo {
  a {
    display: block;
    padding: 15px;
    padding-left: 0;
    font-family: map-get($map: $font_family, $key: primary_en);
    font-size: map-get($map: $font_size, $key: h1);
    color: map-get($map: $color, $key: primary);
  }
}
@mixin heading_feature {
  h2 {
    font-size: map-get($map: $font-size, $key: h1);
    text-align: center;
    span {
      display: block;
      font-size: map-get($map: $font-size, $key: h3) * 1.2;
      font-weight: normal;
      margin-top: 20px;
    }
  }
}
