// Import
@import "variables";
@import "reset";
@import "mixins";

/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* ########## Travelium - Main Page ########## */
* {
  font-family: map-get($map: $font_family, $key: primary_kr);
}
/* ##### COMMON ##### */
.inner {
  width: 1280px;
  margin: auto;
}
/* ########## Header ########## */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  nav {
    width: 1280px;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        display: block;
        padding: 15px;
        padding-left: 0;
        font-family: map-get($map: $font_family, $key: primary_en);
        font-size: map-get($map: $font_size, $key: h1);
        color: map-get($map: $color, $key: primary);
      }
    }
    ul.gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          position: relative;
          display: inline-block;
          color: map-get($map: $font_color, $key: fourth);
          font-size: map-get($map: $font_size, $key: h3);
          font-weight: 400;
          padding: 10px;
          transition: 0.2s;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 3px;
            background-color: map-get($map: $color, $key: primary);
            transition: 0.2s;
          }
          &:hover::after {
            width: calc(100% - 20px);
          }
        }
      }
    }
  }
}
/* ########## Section - Intro ########## */
section.intro {
  position: relative;
  background-image: url(../images/travel_intro_01.png);
  height: 100vh;
  .search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    .title {
      padding-bottom: 20px;
      h3 {
        color: map-get($map: $font_color, $key: secondary);
        font-size: map-get($map: $font-size, $key: h2);
        span {
          display: inline-block;
          margin-top: 5px;
          color: map-get($map: $color, $key: third);
          font-family: map-get($map: $font_family, $key: primary_en);
          font-size: map-get($map: $font-size, $key: h2) * 1.2;

          &::after {
            content: "₩";
          }
        }
      }
    }
    .content {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.2);
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30px;
        .input_field {
          position: relative;
          b {
            display: block;
            color: map-get($map: $font_color, $key: secondary);
            font-size: map-get($map: $font-size, $key: body) * 1.1;
            margin-bottom: 5px;
          }
          input {
            width: 250px;
            padding: 10px 0;
            padding-left: 45px;
            border-radius: 3px;
            border: 1px solid map-get($map: $font_color, $key: third);
            color: map-get($map: $font_color, $key: primary);
            font-size: map-get($map: $font-size, $key: body) * 1.1;
            transition: 0.2s;
            &:focus {
              box-shadow: 0 0 8px
                rgba($color: map-get($map: $color, $key: third), $alpha: 0.5);
              border: 1px solid map-get($map: $color, $key: third);
              & + i {
                color: map-get($map: $color, $key: third);
              }
            }
          }
          i {
            position: absolute;
            bottom: 8px;
            left: 12px;
            font-size: map-get($map: $font-size, $key: h3) * 1.1;
            color: map-get($map: $font_color, $key: secondary);
            transition: 0.2s;
          }
          &:nth-child(3) i {
            font-size: map-get($map: $font-size, $key: h3) * 0.9;
          }
          &:nth-child(4) i {
            left: 14px;
            font-size: map-get($map: $font-size, $key: h3) * 1;
          }
        }
        .btn_search {
          margin-top: 5px;
          width: fit-content;
          padding: 8px 20px;
          background-color: map-get($map: $color, $key: third);
          border: none;
          border-radius: 5px;
          font-size: map-get($map: $font-size, $key: body) * 1.2;
          color: map-get($map: $font-color, $key: fourth);
          transition: 0.35s;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
/* ########## Section - Destinations ########## */
section.destinations {
  padding: 100px 0;
  .inner {
    .heading {
      @include heading_feature;
    }
    .items {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 50px;
      .item {
        position: relative;
        height: 350px;
        overflow: hidden;
        &:first-child,
        &:last-child {
          grid-area: 1 span / 2 span;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, #000, transparent 40%);
          transition: 0.35s;
        }
        &:hover::after {
          top: 0;
        }
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.35s;
        }
        &:hover img {
          transform: scale(1.05);
        }
        .desc {
          position: absolute;
          bottom: 25px;
          left: 25px;
          color: map-get($map: $font-color, $key: fourth);
          font-size: map-get($map: $font-size, $key: h3);
          z-index: 20;
          b {
            display: block;
            margin-bottom: 10px;
            color: map-get($map: $color, $key: primary);
            font-size: map-get($map: $font-size, $key: h3) * 1.2;
          }
        }
        .btn_more {
          position: absolute;
          bottom: -100%;
          right: -100%;
          padding: 30px 25px;
          font-size: map-get($map: $font-size, $key: h3);
          font-weight: bold;
          font-family: map-get($map: $font_family, $key: primary_en);
          transition: 0.2s;
          z-index: 10;
          &::after {
            content: "";
            position: absolute;
            top: 60%;
            left: 60%;
            transform: rotate(45deg) scale(1.5);
            width: 100%;
            height: 100%;
            background-color: map-get($map: $color, $key: primary);
            z-index: -1;
          }
          &:hover {
            color: map-get($map: $font-color, $key: fourth);
          }
        }
        &:hover .btn_more {
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
/* ########## Section - Get off ########## */
section.get_off {
  position: relative;
  .background {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../images/get_off.jpg) no-repeat center center / cover;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }
  }
  .heading {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    padding-right: 30px;
    h2 {
      text-align: right;
      color: map-get($map: $color, $key: primary);
      font-size: map-get($map: $font-size, $key: h1);
      span {
        display: block;
        color: map-get($map: $font-color, $key: fourth);
        font-weight: normal;
        margin: 5px 0;
        font-size: map-get($map: $font-size, $key: h2) * 1.1;
      }
      b {
        display: block;
        font-size: map-get($map: $font-size, $key: h2);
        em {
          font-style: normal;
          font-family: map-get($map: $font_family, $key: primary_en);
          font-size: map-get($map: $font-size, $key: h1);
        }
      }
    }
    .btn_book_now {
      display: block;
      width: fit-content;
      margin-top: 30px;
      margin-left: auto;
      padding: 10px 20px;
      border-radius: 5px;
      color: #000;
      font-weight: bold;
      font-size: map-get($map: $font-size, $key: body) * 1.1;
      background-color: map-get($map: $color, $key: primary);
      transition: 0.35s;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
/* ########## Section - Popular ########## */
section.popular {
  padding: 100px 0;
  .heading {
    @include heading_feature;
    margin-bottom: 50px;
  }
  .popular_slider {
    .item {
      position: relative;
      height: 450px;
      margin: 0 10px;
      border-radius: 5px;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        font-size: map-get($map: $font-size, $key: h3);
        color: map-get($map: $color, $key: primary);
        transition: 0.35s;
        b {
          display: block;
          margin-bottom: 15px;
          color: map-get($map: $font-color, $key: fourth);
          font-size: map-get($map: $font-size, $key: h3) * 1.3;
        }
      }
      &:hover .desc {
        top: 45%;
      }
      .btn_book_now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 15px;
        background-color: map-get($map: $color, $key: primary);
        font-size: map-get($map: $font-size, $key: body) * 1.1;
        font-weight: bold;
        border-radius: 5px;
        opacity: 0;
        transition: 0.35s;
      }
      &:hover .btn_book_now {
        top: 60%;
        opacity: 1;
      }
      .info {
        position: absolute;
        bottom: -32px;
        left: 0;
        width: 100%;
        color: map-get($map: $color, $key: primary);
        transition: 0.35s;
        z-index: 10;
        .price {
          text-align: center;
          margin-bottom: 5px;
          font-size: map-get($map: $font-size, $key: body) * 1.1;
          transition: 0.35s;
          &::before {
            content: "\F5AF";
            font-family: "bootstrap-icons";
            display: inline-block;
            transform: translate(-2px, 2px);
          }
          span,
          em {
            font-family: map-get($map: $font_family, $key: primary_en);
          }
          span {
            &::after {
              content: "₩";
              margin-left: 3px;
            }
          }
          em {
            font-style: normal;
          }
        }
        .star_rating {
          text-align: center;
          margin-bottom: 10px;
          span {
            &::after {
              content: "\F586";
              font-family: "bootstrap-icons";
              color: map-get($map: $color, $key: star);
            }
          }
        }
      }
      &:hover .info {
        bottom: 0;
        color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: map-get($map: $color, $key: primary);
        transition: 0.35s;
        z-index: 0;
      }
      &:hover::after {
        bottom: 0;
      }
    }
  }
}
/* ########## Section - Testimonial ########## */
/* ########## Section - Special ########## */
/* ########## Footer ########## */
